<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Roles</h4>
            <div class="button-icon">
                <button type="button" class="btn mb-1 btn-primary" data-toggle="modal"
                    data-target=".add-user">Agregar<span class="btn-icon-right"><i class="icon-plus"></i></span>
                </button>
                <div class="modal fade add-user" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Añadir rol</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                </button>
                            </div>
                            <div class="login-form-bg h-100">
                                <div class="container h-100">
                                    <div class="row justify-content-center h-100">
                                        <div class="col-xl-12">
                                            <div class="form-input-content">
                                                <div class="card login-form mb-0">
                                                    <div class="card-body pt-5">
                                                        <form id="submit" class="row g-3 needs-validation" action="/rol"
                                                            method="POST">
                                                            <div class="form-group">
                                                                <label for="nombre">Nombre del Rol</label>
                                                                <input type="text" value="{{nombre}}" name="nombre"
                                                                    class="form-control" id="nombre"
                                                                    placeholder="Escribe el nombre del Rol">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="organizacion">Organización</label>
                                                                <input class="form-control" id="organizacion"
                                                                    name="organizacion">
                                                                <input type="text" class="form-control visually-hidden"
                                                                    id="idOrg" name="idOrg">
                                                            </div>
                                                            <div class="form-group">
                                                                <table id="tblPermisos" class="table-header-rotated">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            {{#each permiso}}
                                                                            <th class="rotate">
                                                                                <div><span>{{Nombre}}</span></div>
                                                                            </th>
                                                                            {{/each}}
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {{#each modulo}}
                                                                        <tr>
                                                                            <th class="row-header">{{this.Nombre}}
                                                                            </th>
                                                                            {{#each ../permiso}}
                                                                            <td>
                                                                                <input name="Permisos[]"
                                                                                    value="{{this.Nombre}}|{{../this.Nombre}}"
                                                                                    type="checkbox">
                                                                            </td>
                                                                            {{/each}}
                                                                        </tr>
                                                                        {{/each}}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit"
                                                                    class="btn login-form__btn submit w-100">Crear
                                                                    Rol</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="ancho-columna"></th>
                                <th>Organización</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each org}}
                            <tr class="accordion-toggle collapsed" id="#Org{{idOrg}}" data-toggle="collapse"
                                data-parent="#Org{{idOrg}}" href="#Org{{idOrg}}">
                                <td class="expand-button"></td>
                                <td>{{Nombre}}</td>
                            </tr>
                            <tr class="hide-table-padding">
                                <td></td>
                                <td>
                                    <div id="Org{{idOrg}}" class="collapse in p-3">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table-light">
                                                    <thead>
                                                        <tr>
                                                            <th class="ancho-columna"></th>
                                                            <th>Rol</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each this.Rol}}
                                                        <tr class="accordion-toggle collapsed" id="#A{{this._id}}"
                                                            data-toggle="collapse" data-parent="#A{{this._id}}"
                                                            href="#A{{this._id}}">
                                                            <td class="expand-button"></td>
                                                            <td>{{this.nombre}}</td>
                                                        </tr>
                                                        <tr class="hide-table-padding">
                                                            <td></td>
                                                            <td>
                                                                <div id="A{{this._id}}" class="collapse in p-3">
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <table class="table-header-rotated">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th></th>
                                                                                        {{#each ../../permiso}}
                                                                                        <th class="rotate">
                                                                                            <div><span>{{Nombre}}</span>
                                                                                            </div>
                                                                                        </th>
                                                                                        {{/each}}
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    {{setVar "idmodulo" ""}}
                                                                                    {{#each ../../modulo}}
                                                                                    <tr id="{{this.Nombre}}">
                                                                                        {{#each ../Permisos}}
                                                                                        {{#ifCond this.idModulo
                                                                                        ../this._id}}
                                                                                        {{#when @root.idmodulo 'noteq'
                                                                                        ../this._id}}
                                                                                        {{setVar "idmodulo"
                                                                                        this.idModulo}}
                                                                                        <th class="row-header">
                                                                                            {{../this.Nombre}}</th>
                                                                                        {{/when}}
                                                                                        {{/ifCond}}
                                                                                        {{/each}}
                                                                                        {{#each ../../../permiso}}
                                                                                        <td>
                                                                                            {{#each ../../Permisos}}
                                                                                            {{#ifCond this.idtipoPermiso
                                                                                            ../this._id}}
                                                                                            {{#ifCond this.idModulo
                                                                                            ../../this._id}}
                                                                                            <i
                                                                                                class="fa fa-check-circle-o"></i>
                                                                                            {{/ifCond}}
                                                                                            {{/ifCond}}
                                                                                            {{/each}}
                                                                                        </td>
                                                                                        {{/each}}
                                                                                    </tr>
                                                                                    {{/each}}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>