<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Menu</h4>
                <div class="button-icon">
                    <button type="button" class="btn mb-1 btn-primary" data-toggle="modal"
                        data-target=".add-user">Agregar<span class="btn-icon-right"><i class="icon-plus"></i></span>
                    </button>
                    <div class="modal fade add-user" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Añadir Menu</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                    </button>
                                </div>
                                <div class="login-form-bg h-100">
                                    <div class="container h-100">
                                        <div class="row justify-content-center h-100">
                                            <div class="col-xl-12">
                                                <div class="form-input-content">
                                                    <div class="card login-form mb-0">
                                                        <div class="card-body pt-5">
                                                            <form action="/menu" method="POST">
                                                                <div class="form-group">
                                                                    <label for="MenuPadre">Menu padre</label>
                                                                    <select id="menuPadre"
                                                                        >
                                                                        {{#each menu}}
                                                                        <option>{{idMenuPadre}}</option>
                                                                        {{/each}}
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Nombre">Nombre del Menu</label>
                                                                    <input type="text" value="{{Nombre}}" name="Nombre"
                                                                        class="form-control" id="Nombre"
                                                                        placeholder="Your full name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Class">Icono del Menu</label>
                                                                    <input type="text" value="{{Class}}" name="Class"
                                                                        class="form-control" id="Class"
                                                                        placeholder="Your full name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Segmento">Segmento</label>
                                                                    <input type="text" value="{{Segmento}}"
                                                                        name="Segmento" class="form-control"
                                                                        id="Segmento" placeholder="Your full name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Url">Url</label>
                                                                    <input type="text" value="{{Url}}" name="Url"
                                                                        class="form-control" id="Url"
                                                                        placeholder="Your full name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Modulo">Modulo</label>
                                                                    <input type="text" value="{{Modulo}}" name="Modulo"
                                                                        class="form-control" id="Modulo"
                                                                        placeholder="Your full name">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit"
                                                                        class="btn login-form__btn submit w-100">Crear
                                                                        Menu</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Modulo</th>
                                    <th>Segmento</th>
                                    <th>Menu Padre</th>
                                    <th>Nombre</th>
                                    <th>Icono</th>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each menu}}
                                <tr>
                                    <td>{{Modulo}}</td>
                                    <td>{{Segmento}}</td>
                                    <td>{{idMenuPadre}}</td>
                                    <td>{{Nombre}}</td>
                                    <td><i class="{{Class}}"></i></td>
                                    <td>{{Url}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
</div>
<script>
    $(document).ready(function () {
        $('#menuPadre').magicSuggest({
            allowFreeEntries: true
        });
    });

</script>