<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <div class="button-icon">
                    <button type="button" class="btn mb-1 btn-primary" data-toggle="modal"
                        data-target=".add-user">Agregar<span class="btn-icon-right"><i class="icon-plus"></i></span>
                    </button>
                    <div class="modal fade add-user" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">A침adir usuario</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                    </button>
                                </div>
                                <div class="login-form-bg h-100">
                                    <div class="container h-100">
                                        <div class="row justify-content-center h-100">
                                            <div class="col-xl-12">
                                                <div class="form-input-content">
                                                    <div class="card login-form mb-0">
                                                        <div class="card-body pt-5">
                                                            <form action="/usuario" method="POST">
                                                                <div class="form-group">
                                                                    <label for="nombre">Nombre Completo</label>
                                                                    <input type="text" value="{{nombre}}" name="nombre"
                                                                        class="form-control" id="nombre"
                                                                        placeholder="Your full name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" value="{{email}}" name="email"
                                                                        class="form-control" id="email"
                                                                        placeholder="Enter email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="organizacion">Organizaci칩n</label>
                                                                    <input class="form-control" id="organizacion" name="organizacion">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="password">Password</label>
                                                                    <input type="password" value="{{password}}"
                                                                        name="password" class="form-control"
                                                                        id="password" placeholder="Password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="confirm_password">Confirm
                                                                        Password</label>
                                                                    <input type="password" value="{{confirm_password}}"
                                                                        name="confirm_password" class="form-control"
                                                                        id="confirm_password"
                                                                        placeholder="Retype Password">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit"
                                                                        class="btn login-form__btn submit w-100">Crear
                                                                        Cuenta</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Organizaci칩n</th>
                                    <th>Fecha de creaci칩n</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each usuario}}
                                <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{email}}</td>
                                    <th>{{idOrganizacion}}</th>
                                    <td>{{createdAt}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
</div>
<script>
    $(document).ready(function () {
        $('#organizacion').magicSuggest({
            data: '/orgJson',
            name: 'organizacion',
            maxSelection: 1,
            valueField: 'Nombre',
            displayField: 'Nombre',
            renderer: function (data) {
                return data.Nombre;
            },
            allowFreeEntries: false
        });
    });
</script>