<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <div class="button-icon">
                    <button type="button" class="btn mb-1 btn-primary" data-toggle="modal"
                        data-target=".add-user">Agregar<span class="btn-icon-right"><i class="icon-plus"></i></span>
                    </button>
                    <div class="modal fade add-user" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Añadir usuario</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                    </button>
                                </div>
                                <div class="login-form-bg h-100">
                                    <div class="container h-100">
                                        <div class="row justify-content-center h-100">
                                            <div class="col-xl-12">
                                                <div class="form-input-content">
                                                    <div class="card login-form mb-0">
                                                        <div class="card-body pt-5">
                                                            <form class="row g-3 needs-validation" action="/usuario"
                                                                method="POST">
                                                                <div class="form-group">
                                                                    <label for="nombre">Nombre Completo</label>
                                                                    <input type="text" value="{{nombre}}" name="nombre"
                                                                        class="form-control" id="nombre"
                                                                        placeholder="Your full name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" value="{{email}}" name="email"
                                                                        class="form-control" id="email"
                                                                        required="required" placeholder="Enter email"
                                                                        email="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="organizacion">Organización</label>
                                                                    <input class="form-control" id="organizacion"
                                                                        name="organizacion">
                                                                    <input type="text"
                                                                        class="form-control visually-hidden" id="idOrg"
                                                                        name="idOrg">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="licencia">Licencia</label>
                                                                    <input class="form-control" id="licencia"
                                                                        name="licencia">
                                                                    <input type="text"
                                                                        class="form-control visually-hidden" id="lic"
                                                                        name="lic">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="rol">Rol</label>
                                                                    <input class="form-control" id="rol" name="rol">
                                                                    <input type="text"
                                                                        class="form-control visually-hidden" id="rl"
                                                                        name="rl">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="password">Password</label>
                                                                    <input type="password" value="{{password}}"
                                                                        name="password" class="form-control"
                                                                        id="password" placeholder="Password"
                                                                        required="required"
                                                                        strong_password="strong_password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="confirm_password">Confirm
                                                                        Password</label>
                                                                    <input type="password" value="{{confirm_password}}"
                                                                        name="confirm_password" class="form-control"
                                                                        id="confirm_password"
                                                                        placeholder="Retype Password">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit"
                                                                        class="btn login-form__btn submit w-100">Crear
                                                                        Cuenta</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Organización</th>
                                    <th>Fecha de creación del Usuario</th>
                                    <th>Fecha efectiva de licencia</th>
                                    <th>Fecha expiración licencia</th>
                                    <th>Rol</th>
                                    <th>Duración de Licencia</th>
                                    <th>Status de Licencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each usuario}}
                                <tr>
                                    <td>{{User}}</td>
                                    <td>{{email}}</td>
                                    {{#each this.Org}}
                                    <td>{{this.Nombre}}</td>
                                    {{/each}}
                                    <td>{{dateFormat createdAt "DD/MM/yyyy, h:mm:ss a" utc}}</td>
                                    <td>{{dateFormat sinceDate "DD/MM/yyyy, h:mm:ss a" utc}}</td>
                                    <td>{{dateFormat expireDate "DD/MM/yyyy, h:mm:ss a" utc}}</td>
                                    <td>{{nombre}}</td>
                                    {{#each this.Lic}}
                                    <td>
                                        <div class="progress" style="height: 10px">
                                            <div class="progress-bar gradient-1"
                                                style="width: {{porcentajeAvance this.sinceDate this.expireDate }}%;"
                                                role="progressbar">
                                            </div>
                                        </div>
                                    </td>
                                    {{#if this.Activa}}
                                    {{#when @root.Porcentaje 'gteq' 90}}
                                    <td><span class="badge bg-warning">Por Vencer</span></td>
                                    {{else}}
                                    {{#when @root.Porcentaje 'gteq' 0}}
                                    <td><span class="badge bg-success">Activa</span></td>
                                    {{/when}}
                                    {{/when}}

                                    {{else}}
                                    <td><span class="badge bg-danger">Inactiva</span></td>
                                    {{/if}}
                                    {{/each}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>