<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            {{#if user}}
            {{#each user.userMenu}}
            {{#each this.Ligas}}
            <li class="nav-label">{{this.Segmento}}</li>
            {{#each this.MenuPadre}}
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="{{this.Menu.iconoPadre}}"></i>
                    <span class="nav-text">{{this.NombreMenuPadre}}</span>
                </a>
                <ul aria-expanded="false">
                    {{#each this.Menu}}
                    <li><a href="{{this.Url}}"><i class="{{this.icono}}"></i>{{this.NombreMenu}}</a></li>
                    {{#if this.Rep}}
                    <ul aria-expanded="false">
                        {{#each this.Rep}}
                        <li><a href="/reportes?id={{this.idReporte}}"><i class="fa fa-bar-chart"></i>{{this.nombreReporte}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}
                </ul>
            </li>
            {{/each}}
            {{/each}}
            {{/each}}
            {{/if}}
        </ul>
    </div>
</div>