<style>


  .pagination span {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
  }

  .page.disabled {
    opacity: .3;
    pointer-events: none;
    cursor: not-allowed;
  }

  .page.current {
    color: blue;
    background: #f3f3f3;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="email-left-box"><a href="/sincronizar" class="btn btn-primary btn-block">Sincronizar</a>
            <div class="mail-list mt-4">
              {{#each totCant}}
              <a href="#" id="all" class="inboxbtn list-group-item border-0 text-primary p-r-0"><i
                  class="fa fa-inbox font-18 align-middle mr-2"></i>Todos<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/each}}
              {{#each MsjCant}}
              {{#switch _id}}
              {{#case 'Facebook'}}
              <a href="#" id="{{_id}}" class="inboxbtn list-group-item border-0 p-r-0">
                <i class="fa fa-facebook mr-2"></i>{{_id}}<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/case}}
              {{#case 'Instagram'}}
              <a href="#" id="{{_id}}" class="inboxbtn list-group-item border-0 p-r-0">
                <i class="fa fa-instagram mr-2"></i>{{_id}}<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/case}}
              {{#case 'Whatsapp'}}
              <a href="#" id="{{_id}}" class="inboxbtn list-group-item border-0 p-r-0">
                <i class="fa fa-whatsapp mr-2"></i>{{_id}}<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/case}}
              {{#case 'eMail'}}
              <a href="#" id="{{_id}}" class="inboxbtn list-group-item border-0 p-r-0">
                <i class="fa fa-envelope-o mr-2"></i>{{_id}}<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/case}}
              {{#case 'SMS'}}
              <a href="#" id="{{_id}}" class="inboxbtn list-group-item border-0 p-r-0">
                <i class="fa fa-keyboard-o mr-2"></i>{{_id}}<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/case}}
              {{#case 'Otro'}}
              <a href="#" id="{{_id}}" class="inboxbtn list-group-item border-0 p-r-0">
                <i class="fa fa-address-card-o mr-2"></i>{{_id}}<span
                  class="badge badge-primary badge-sm float-right m-t-5">{{count}}</span>
              </a>
              {{/case}}
              {{/switch}}
              {{/each}}
            </div>
            <h5 class="mt-5 m-b-10">Categorias</h5>
            <div class="list-group mail-list">
              {{#each Tags}}
              {{#switch nombre}}
              {{#case 'Contactos'}}
              <a href="#" id="{{nombre}}" class="inboxbtn list-group-item border-0"><span
                  class="fa fa-vcard f-s-14 mr-2"></span>{{nombre}}</a>
              {{/case}}
              {{#case 'Prospectos'}}
              <a href="#" id="{{nombre}}" class="inboxbtn list-group-item border-0"><span
                  class="fa fa-line-chart f-s-14 mr-2"></span>{{nombre}}</a>
              {{/case}}
              {{#case 'Potenciales'}}
              <a href="#" id="{{nombre}}" class="inboxbtn list-group-item border-0"><span
                  class="fa fa-money f-s-14 mr-2"></span>{{nombre}}</a>
              {{/case}}
              {{#case 'Clientes'}}
              <a href="#" id="{{nombre}}" class="inboxbtn list-group-item border-0"><span
                  class="fa fa-diamond f-s-14 mr-2"></span>{{nombre}}</a>
              {{/case}}
              {{/switch}}
              {{/each}}
            </div>
          </div>
          <div class="email-right-box">
            <div class="cont">
              <div class="inbxcontainer">
                <div id="parent" class="email-list m-t-15">
                  {{#each Mensajes}}
                  {{#switch estado}}

                  <div class="{{plataforma}} {{Tag}} message single-item">
                    <a href="/inboxread?id={{_id}}">
                      <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                          <input type="checkbox" id="chk9">
                          <label class="toggle" for="chk9"></label>
                        </div>
                        {{#case 'read'}}
                        <span class="fa fa-envelope-open-o"></span>
                        {{/case}}
                        {{#case 'unread'}}
                        <span class="fa fa-envelope-o"></span>
                        {{/case}}
                        {{#switch plataforma}}
                        {{#case 'Facebook'}}
                        <span class="fa fa-facebook"></span>
                        {{/case}}
                        {{#case 'Instagram'}}
                        <span class="fa fa-instagram"></span>
                        {{/case}}
                        {{#case 'Whatsapp'}}
                        <span class="fa fa-whatsapp"></span>
                        {{/case}}
                        {{#case 'eMail'}}
                        <span class="fa fa-envelope-o"></span>
                        {{/case}}
                        {{#case 'SMS'}}
                        <span class="fa fa-keyboard-o"></span>
                        {{/case}}
                        {{#case 'Otro'}}
                        <span class="fa fa-address-card-o"></span>
                        {{/case}}
                        {{/switch}}
                      </div>
                      <div class="col-mail col-mail-2">
                        <div class="subject"><b>{{Cliente}}</b>: <small>{{mensaje}}</small></div>
                        <div class="date"><small class="text-muted">{{dateFormat fechaCreacion "DD/MM/yyyy, h:mm:ss a"
                            utc}}</small></div>
                      </div>
                    </a>
                  </div>
                  {{/switch}}
                  {{/each}}
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>